doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  h1 #{title}
  script.
    $(document).ready(function(){
      $("input").focus(function(){
        $(this).css("background-color", "#cccccc");
      });
      $("input").blur(function(){
        $(this).css("background-color", "#ffffff");
      });
    });
  body
    form(action='http://127.0.0.1:8080/login', method='POST')
      | User Name: 
      input(tpye='text', name='username')
      br
      |                 Password: 
      input(tpye='password', name='pwd')
      br
      input(type='submit', ,='', value='Sign In')
    form(action='http://127.0.0.1:8080/signup', method='GET')
      input(type='submit', ,='', value='Sign Up')
  script.
    function checkCookie(){
    var user = document.cookie;
    var isLoginError = '#{locals.isLoginError}';
    console.log('Status', isLoginError);
    if(!isLoginError){
    	if(user != ""){
    		alert("Welcome again " + user);
    	}else{
    		alert("Welcome");
    	}
    }else{	
    	alert("Wrong username or password");
    }
    }
  body(onload='checkCookie()')


