doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.min.css')
    link(rel='stylesheet', href='/css/pagination.min.css')
    script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src = '/js/checkCookie.min.js')
    script(src = '/js/pagination.min.js')
  
  h1 #{title}
  script.
    $(document).ready(function(){
      $("input").focus(function(){
        $(this).css("background-color", "#ccccc");
      });
      $("input").blur(function(){
        $(this).css("background-color", "#ffffff");
      });
    });
  body
    form(action='http://127.0.0.1:8080/login', method='POST')
      | User Name: 
      input(type='text', name='username')
      br
      | Password: 
      input(type='password', name='pwd')
      br
      input(type='submit', value='Sign In')
    form(action='http://127.0.0.1:8080/signup', method='GET')
      input(type='submit', value='Sign Up')
    form(action='http://127.0.0.1:8080/pagination', method='GET') 
      input(type='submit', value='Pagination Example')
  body(onload='checkCookie(#{locals.isLoginError})')

  block content

  body
    li 
      | Download 
      a(href="/amazing.txt", onclick='form.submit()') amazing.txt
    li 
      | Download 
      a(href="/job_list.html", onclick='form.submit()') job_list.html
    li
      | Download 
      a(href="/Redmine_Step4.jpg", onclick='form.submit()') Redmine_Step4.jpg
    li
      | Upload
      form(action="http://127.0.0.1:8080/upload", method="post", enctype="multipart/form-data")
        input(type='file', name='uploadFile')
        input(type='submit', value='Upload')
